<form [formGroup]="authForm" (ngSubmit)="onSubmit($event)">
  <mat-card-content class="container-fluid">
    <div class="row">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" required>
        <mat-error *ngIf="authForm.controls.email.hasError('required')">
          <mat-icon>error</mat-icon>
          Must be provided
        </mat-error>
        <mat-error *ngIf="authForm.controls.password.hasError('maxlength')">
          <mat-icon>error</mat-icon>
          Must be at most {{maxEmailLength}} characters long
        </mat-error>
        <mat-error *ngIf="authForm.controls.email.hasError('email')">
          <mat-icon>error</mat-icon>
          Invalid email format
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" required>
        <mat-error *ngIf="authForm.controls.password.hasError('required')">
          <mat-icon>error</mat-icon>
          Must be provided
        </mat-error>
        <mat-error *ngIf="authForm.controls.password.hasError('minlength')">
          <mat-icon>error</mat-icon>
          Must be at least {{minPasswordLength}} characters long
        </mat-error>
        <mat-error *ngIf="authForm.controls.password.hasError('maxlength')">
          <mat-icon>error</mat-icon>
          Must be at most {{maxPasswordLength}} characters long
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row justify-content-end">
      <app-submit-button [disabled]="authForm.invalid" [isSubmitting]="isLoading">Login</app-submit-button>
    </div>
  </mat-card-content>
</form>
