@import "src/app/styles/colors";
@import "src/app/styles/pure-classes";
@import "src/app/styles/variables";

$category-item-height: 28px;
$category-item-vertical-margin: 4px;
$item-header-padding-top: 4px;
$item-header-height: $category-item-height + $category-item-vertical-margin * 2 + $item-header-padding-top;

mat-card {
  width: $budgetItemWidth;
  height: 83px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0;
  padding-bottom: 0;

  .item-header {
    padding-top: $item-header-padding-top;
    height: $item-header-height;

    .category-column {
      padding: 0;

      .category-item {
        padding: 0 8px;
        margin: $category-item-vertical-margin 2.5px;
        height: $category-item-height;
        font-size: 12px;

        border-style: solid;
        border-radius: $category-item-height / 2;
        border-color: $accent;
        border-width: 3px;

        user-select: none;
      }
    }
  }

  mat-icon {
    cursor: pointer;
  }

  .item-price {
    color: $negative;

    &.positive {
      color: $positive;
    }
  }

  .item-info {

    .item-name {
      color: $primary-text-color;

      &.empty {
        font-style: italic;
      }
    }

    .item-date {
      color: $secondary-text-color;

      &.empty {
        font-style: italic;
      }
    }
  }
}
