@import "variables";

.vertical-overflow {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 16px - $scrollbarWidth;
}

.items-container {
  padding-bottom: $fabDiameter + 16px;
}

.fab-add-button {
  position: absolute;
  right: 32px;
  bottom: 16px;
}
