.shadow-12 {
  box-shadow: 0 12px 17px rgba(0, 0, 0, 0.14),
  0 5px 22px rgba(0, 0, 0, 0.12),
  0 7px 8px rgba(0, 0, 0, 0.2);
}

.shadow-4 {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.14),
  0 1px 10px rgba(0, 0, 0, 0.12),
  0 2px 4px rgba(0, 0, 0, 0.2);
}

.shadow-12-reversed {
  box-shadow: 0 -12px 17px rgba(0, 0, 0, 0.14),
  0 -5px 22px rgba(0, 0, 0, 0.12),
  0 -7px 8px rgba(0, 0, 0, 0.2);
}

.field-hint {
  display: flex;
  align-items: center;
  font-size: 10px;

  mat-icon {
    margin-right: 4px;
    font-size: 14px;
    width: 14px;
    height: 14px;
  }
}

mat-error {
  @extend .field-hint;
}

mat-hint {
  @extend .field-hint;
}
