@import "src/app/styles/variables";

app-line-chart {
  width: 90%;
}

.vertical-overflow {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 16px - $scrollbarWidth;
}

.large-chart {
  height: 300px;
}

.budget-item-add {
  position: absolute;
  right: 32px;
  bottom: 16px;
}
