<div class="container-fluid h-100 px-0">
  <div class="row h-100">
    <ng-container *ngIf="budgetItems$ | async as budgetItems else loading">
      <div class="col-auto h-100">
        <div class="row h-25 w-100 mx-auto">
          <app-line-chart class="w-100"
                          [daysCount]="daysCountOfCurrentMonth"
                          [toggleableDatasets]="false"
                          [title]="'Current Month'"
                          [budgetItemDataPoints]="[{
              label: currentMonth,
              data: budgetItems | ofCurrentYear | ofCurrentMonth | dataPoints : false : daysCountOfCurrentMonth
              }]"></app-line-chart>
        </div>
        <div class="row h-75">
          <app-item-list class="col-auto h-100" title="Latest entries" (add)="addBudgetItem()">
            <app-budget-item *ngFor="let budgetItem of budgetItems$ | async | sort : 'date';trackBy: trackItems"
                             [item]="budgetItem"
                             (edit)="onBudgetItemEdit(budgetItem)"
                             (delete)="onBudgetItemDelete(budgetItem)"
            ></app-budget-item>
          </app-item-list>
          <button mat-icon-button class="entries-info-button position-relative"
                  (click)="openEntriesInfoModal()">
            <mat-icon>info</mat-icon>
          </button>
        </div>
      </div>
      <div class="col h-100 vertical-overflow">
        <div class="row m-0 chart-row">
          <app-line-chart class="row large-chart w-100"
                          [title]="'Current year'"
                          [budgetItemDataPoints]="budgetItems | ofCurrentYear | divideByMonth : true"></app-line-chart>
          <app-line-chart class="row large-chart w-100"
                          [title]="'Previous year'"
                          [budgetItemDataPoints]="budgetItems | ofYear : previousYear | divideByMonth"></app-line-chart>
        </div>
        <div class="row">
          <app-pie-chart class="large-chart w-50"
                         [labels]="categories$ | async | labelArray"
                         [title]="'Current Month, category breakdown'"
                         [budgetItemDataPoints]="[{
                          data: budgetItems | ofCurrentYear | ofCurrentMonth | expense | categoryPoints : (categories$ | async)
                          }]"></app-pie-chart>
          <app-pie-chart class="large-chart w-50"
                         [labels]="categories$ | async | labelArray"
                         [title]="'Current Year, category breakdown'"
                         [budgetItemDataPoints]="[{
                          data: budgetItems | ofCurrentYear | expense | categoryPoints : (categories$ | async)
                          }]"></app-pie-chart>
        </div>
      </div>
    </ng-container>

    <ng-template #loading>
      <mat-spinner class="m-auto"></mat-spinner>
    </ng-template>
  </div>
</div>
