<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <ng-container *ngIf="budgetItems$ | async else loading">
        length: {{(budgetItems$ | async).length}}
        <app-budget-item *ngFor="let budgetItem of budgetItems$ | async as budgetItems;trackBy: trackItems"
                         [item]="budgetItem"
        ></app-budget-item>
      </ng-container>

      <ng-template #loading>
        <mat-spinner></mat-spinner>
      </ng-template>
    </div>
  </div>
</div>
